<h1>The Religion Guessing Game</h1>

<h3>Please share a religion and what you think it ranks compared to other religions.</h3>


 <button type="button" class="btn btn-primary btn-lg">
   <%= link_to "Click Here to Begin", religions_entry_path %></button>
